@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    font-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.svg-icon {
    width: 15px;
    height: 15px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #e96363;
}

.svg-icon circle {
    stroke: #e96363;
    stroke-width: 1;
}

.page_wrapper {
    max-width: 720px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    .page_wrapper {
        padding: 0 10px;
    }
}

.title {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.title a {
    text-decoration: none;
    color: #fff;
}

.description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, .8);
}

.dependencies {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(68, 68, 68, .8);
}

.download {
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
    background: rgba(255, 127, 80, .4);
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.download:hover {
    background: rgba(255, 127, 80, .5);
}

.download_icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

.download_icon path,
.download_icon polygon,
.download_icon rect {
    fill: #fff;
}

.download_icon circle {
    stroke: #fff;
    stroke-width: 1;
}

.examples {
    margin-top: 50px;
}

.example:not(:last-child) {
    margin-bottom: 60px;
}

.example h4 {
    font-size: 26px;
    color: #e96363;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e96363;
    display: inline-block;
}

.example blockquote {
    color: #555;
    border-left: 5px solid #555;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 35px;
}

.example blockquote span {
    font-weight: 700;
}

.example p {
    font-size: 17px;
    color: #444;
    margin-bottom: 10px;
}

.example button {
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(246, 84, 106, .6);
    color: rgba(255, 255, 255, .9);
    padding: 10px 20px;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
}

.example button:hover {
    background: rgba(246, 84, 106, .8);
    color: rgba(255, 255, 255, 1);
}

.example button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.example pre {
    margin-top: 15px;
    width: 100%;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

#wrap_multiple_example section {
    max-height: 200px;
    overflow-y: scroll;
    padding: 5px 0;
    margin-bottom: 10px;
}

#wrap_multiple_example section h3 {
    color: #444;
    margin-bottom: 10px;
}

.github {
    display: block;
    max-width: 350px;
    text-decoration: none;
    border-radius: 5px;
    margin: 60px auto;
    text-align: center;
    background: rgba(24, 23, 23, .7);
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.github:hover {
    background: rgba(24, 23, 23, .9);
}

footer {
    text-align: center;
    color: #ddd;
    font-size: 15px;
    margin-top: 25px;
    padding: 5px 0px;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
